<rss version="2.0">
<channel>
    <title>{{ title }}</title>
    <link>{{ link }}</link>
    <description>{{ description|default(null) }}</description>
    <generator>Retumador</generator>
    <lastBuildDate>{{ 'now'|date('D, d M Y H:i:s O') }}</lastBuildDate>
    {% for item in items %}
    <item>
        <title>{{ item.title }}</title>
        <link>{{ item.link }}</link>
        <description>{{ item.description }}</description>
        {% if item.image is not null %}
            <enclosure url="{{ item.image }}" type="image/jpeg" />
        {% endif %}
        <pubDate>{{ item.publicationDate|date('D, d M Y H:i:s O') }}</pubDate>
        <guid>{{ item.link }}</guid>
    </item>
    {% endfor %}
</channel>
</rss>
